In [2]:
import os
import numpy as np
import matplotlib.pyplot as plt
import pylab
import numpy as np
import scipy.io
import scipy.stats
import datetime
import pandas as pd
import matplotlib as mpl
import math

%matplotlib inline
from scipy.stats import stats
from IPython.display import display
from glob import glob

In [3]:
# load date format and using 2011-01-24 as the day 1
from datetime import datetime
date_format = "%Y-%m-%d"
day1 = datetime.strptime('2011-01-23',date_format)

## Load original csv file as dataframe

In [4]:
emp_retention = pd.read_csv('./employee_retention_data.csv',header = 0) # emp is short for employee

## Making a table with all companies and head count for all days

In [5]:
# Sort all data with company id and join date
emp_retention_sorted = emp_retention.sort_values(['company_id','join_date'])

# Create head count with +1 and -1 
emp_retention_sorted['join_date_head_count'] = 1
emp_retention_sorted['quit_date_head_count'] = -1

all_company_headcount = pd.DataFrame()

for company_num in range(1,13): # Total 12 companies 
    each_company = emp_retention_sorted[emp_retention_sorted.company_id == company_num]
    
    topdf = each_company[['join_date','join_date_head_count']]
    bottomdf = each_company[['quit_date','quit_date_head_count']]
    topdf.columns = ['date' , 'head_count']
    bottomdf.columns = topdf.columns
    # append join date with quit date columns
    day_headcount = topdf.append([bottomdf])
    day_headcount.sort_values('date',inplace = True)
    # caculate the head count for each date 
    agg_day_headcount = day_headcount.groupby('date').sum()
    
    day_column = []

    for each_date in agg_day_headcount.index:
        # Convert year-month-date format to day number 
        delta = datetime.strptime(each_date,date_format) - day1
        day_column.append(delta.days)

    agg_day_headcount['day_num'] = day_column
    agg_day_headcount['employee_headcount'] = agg_day_headcount['head_count'].cumsum()
    agg_day_headcount.drop('head_count', 1, inplace = True)
    agg_day_headcount['company_id'] = company_num
    all_company_headcount = all_company_headcount.append([agg_day_headcount], ignore_index = True)

all_company_headcount.sort_values('day_num',inplace = True)
all_company_headcount.set_index('company_id',inplace = True)

In [62]:
# Saving the csv file 
all_company_headcount.to_csv('./all_company_headcount.csv', header = True, index = True)

## Clean up the features for emp_retention_sorted

In [6]:
# Reload the data again to avoid unwanted changes 
emp_retention = pd.read_csv('./employee_retention_data.csv',header = 0) # emp is short for employee 
emp_retention_sorted = emp_retention.sort_values(['company_id','join_date'])
emp_retention_sorted.drop('employee_id', 1, inplace = True)
emp_retention_sorted.set_index('company_id', inplace = True)

### Convert date format to day # starting 2011/1/23

In [7]:
join_date_column = []
for each_date in emp_retention_sorted['join_date'].values:
    delta1 = datetime.strptime(each_date,date_format) - day1
    join_date_column.append(delta1.days)

In [13]:
quit_date_column = []
for each_date in emp_retention_sorted['quit_date'].values:
    # Check whether quit date is NaN, if so put quit day to be 20000 days (55 years)
    if each_date != each_date:
        quit_date_column.append(20000)  
    else:
        delta2 = datetime.strptime(each_date,date_format) - day1
        quit_date_column.append(delta2.days)

In [15]:
emp_retention_sorted['join_day'] = join_date_column
emp_retention_sorted['quit_day'] = quit_date_column

In [19]:
emp_retention_sorted

,dept,seniority,salary,join_date,quit_date,join_day,quit_day
company_id,,,,,,,
1,customer_service,19,108000.0,2011-01-24,2012-02-24,1,397
1,customer_service,20,121000.0,2011-01-24,2012-01-06,1,348
1,data_science,15,244000.0,2011-01-24,2014-05-09,1,1202
1,sales,28,191000.0,2011-01-24,2013-03-08,1,775
1,customer_service,9,77000.0,2011-01-24,2012-11-09,1,656
1,sales,14,137000.0,2011-01-24,2014-01-03,1,1076
1,data_science,1,74000.0,2011-01-24,2012-08-31,1,586
1,data_science,17,342000.0,2011-01-24,2015-01-16,1,1454
1,sales,17,218000.0,2011-01-24,2014-01-24,1,1097
1,marketing,13,110000.0,2011-01-24,2013-11-15,1,1027
1,customer_service,29,140000.0,2011-01-24,2011-12-30,1,341
1,customer_service,1,30000.0,2011-01-24,2011-12-30,1,341
1,data_science,20,299000.0,2011-01-24,2013-03-01,1,768
1,design,8,122000.0,2011-01-24,2012-12-21,1,698
1,design,16,195000.0,2011-01-24,2012-02-03,1,376
1,customer_service,8,67000.0,2011-01-24,2013-03-01,1,768
1,sales,5,118000.0,2011-01-24,2011-10-21,1,271
1,data_science,4,68000.0,2011-01-24,2013-02-08,1,747
1,sales,9,129000.0,2011-01-24,2012-04-13,1,446
1,customer_service,25,121000.0,2011-01-24,2013-06-07,1,866
1,customer_service,24,111000.0,2011-01-24,2014-11-28,1,1405
1,customer_service,14,92000.0,2011-01-24,2013-03-22,1,789
1,engineer,11,202000.0,2011-01-24,2014-12-19,1,1426
1,design,10,112000.0,2011-01-24,2013-04-05,1,803
1,engineer,29,283000.0,2011-01-24,2013-07-05,1,894
1,customer_service,19,107000.0,2011-01-25,2011-11-11,2,292
1,marketing,3,50000.0,2011-01-25,2015-07-06,2,1625
1,customer_service,19,105000.0,2011-01-26,2013-03-22,3,789
1,customer_service,16,115000.0,2011-01-26,2012-01-06,3,348
1,sales,15,191000.0,2011-01-31,2012-11-30,8,677
...,...,...,...,...,...,...,...
11,customer_service,10,51000.0,2013-03-04,NaN,771,20000
11,engineer,26,203000.0,2013-09-12,2014-07-18,963,1272
11,engineer,5,130000.0,2014-02-10,2015-01-30,1114,1468
11,customer_service,20,83000.0,2014-05-05,NaN,1198,20000
11,customer_service,3,21000.0,2014-06-16,2015-05-08,1240,1566
11,customer_service,14,41000.0,2014-10-07,NaN,1353,20000
12,customer_service,20,64000.0,2011-03-14,2012-02-24,50,397
12,customer_service,3,18000.0,2011-05-16,2012-05-04,113,467
12,customer_service,17,79000.0,2011-06-06,2012-05-18,134,481
12,sales,22,109000.0,2011-06-20,2013-10-18,148,999
12,data_science,21,187000.0,2011-10-13,2013-07-12,263,901
12,customer_service,9,42000.0,2012-03-12,2013-04-05,414,803
12,engineer,3,45000.0,2012-07-02,2013-05-10,526,838
12,customer_service,3,18000.0,2012-11-12,2013-10-25,659,1006
12,customer_service,10,42000.0,2012-11-26,2014-09-19,673,1335
12,customer_service,3,18000.0,2012-12-06,NaN,683,20000
12,customer_service,9,45000.0,2013-03-04,NaN,771,20000
12,sales,5,88000.0,2013-03-11,2014-02-07,778,1111
12,engineer,28,184000.0,2013-04-15,NaN,813,20000
12,data_science,25,180000.0,2013-07-15,NaN,904,20000
12,data_science,12,110000.0,2013-07-29,2015-05-08,918,1566
12,marketing,18,117000.0,2013-12-17,NaN,1059,20000
12,engineer,4,48000.0,2014-01-13,NaN,1086,20000
12,design,11,82000.0,2014-01-13,NaN,1086,20000
12,customer_service,9,47000.0,2014-05-19,2015-05-08,1212,1566
12,customer_service,16,76000.0,2014-05-19,NaN,1212,20000
12,engineer,4,43000.0,2014-10-13,NaN,1359,20000
12,data_science,1,48000.0,2015-03-23,NaN,1520,20000
12,customer_service,13,43000.0,2015-07-06,NaN,1625,20000
12,customer_service,2,19000.0,2015-07-27,NaN,1646,20000